@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1 class="display-4">
     Welcome
   </h1>
   <div class="container p-4">
     <div class="row pt-4">
       <div class="col-4">
        <img alt="The godfather" src="./NewFolder/81fc+fWtALL._AC_UF1000,1000_QL80_.jpg" />

       </div>
       <div class="col-4">
        <img alt="Pulp fiction" src="./NewFolder/81UTs3sC5hL._AC_UF894,1000_QL80_.jpg" />
       </div>
       <div class="col-4">
         <img alt="The usual suspects" src="./NewFolder/image.jpg"/>
       </div>
     </div>
     <div class="row pt-4">
       <div class="col-4">
         Lorem20
       </div>
       <div class="col-4">
         Lorem20
       </div>
       <div class="col-4">
         Lorem20
       </div>
     </div>
   </div>
</div>
<br />
<br />
<p> <img alt="IMDB" src="./NewFolder/download.jfif" /></p>
<p>Learn about <a href="https://www.imdb.com/" target="_blank">Movies</a></p>